3.LNC_CNC/三軸龍門機soap服務/ShareWebService/ReCONShare/ReCONShare/Service References/ServiceReference1/ReconWcfServiceLibrary2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ReconWcfServiceLibrary2" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ReconWcfServiceLibrary2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfClass_ReCONSync_Service">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Class_ReCONSync_Service" nillable="true" type="tns:Class_ReCONSync_Service" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClass_ReCONSync_Service" nillable="true" type="tns:ArrayOfClass_ReCONSync_Service" />
  <xs:complexType name="Class_ReCONSync_Service">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConnectIndex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegisterCommandType" type="xs:int" />
      <xs:element minOccurs="0" name="RegisterData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegisterName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegisterNote" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegisterValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Class_ReCONSync_Service" nillable="true" type="tns:Class_ReCONSync_Service" />
</xs:schema>