3.LNC_CNC/三軸龍門機soap服務/ShareWebService/ReCONShare/ReCONShare/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ReconWcfService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetNamedPipeBinding_IReconWcfService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ReconWcfServiceLibrary2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReconWcfService_ReconServiceStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:ReconServiceStatus" />
  </wsdl:message>
  <wsdl:message name="IReconWcfService_ReconServiceStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReconServiceStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IReconWcfService_DetectControllerIP_InputMessage">
    <wsdl:part name="parameters" element="tns:DetectControllerIP" />
  </wsdl:message>
  <wsdl:message name="IReconWcfService_DetectControllerIP_OutputMessage">
    <wsdl:part name="parameters" element="tns:DetectControllerIPResponse" />
  </wsdl:message>
  <wsdl:message name="IReconWcfService_ConnectToServer_InputMessage">
    <wsdl:part name="parameters" element="tns:ConnectToServer" />
  </wsdl:message>
  <wsdl:message name="IReconWcfService_ConnectToServer_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectToServerResponse" />
  </wsdl:message>
  <wsdl:message name="IReconWcfService_CloseConnectToServer_InputMessage">
    <wsdl:part name="parameters" element="tns:CloseConnectToServer" />
  </wsdl:message>
  <wsdl:message name="IReconWcfService_CloseConnectToServer_OutputMessage">
    <wsdl:part name="parameters" element="tns:CloseConnectToServerResponse" />
  </wsdl:message>
  <wsdl:message name="IReconWcfService_SyncCompare_InputMessage">
    <wsdl:part name="parameters" element="tns:SyncCompare" />
  </wsdl:message>
  <wsdl:message name="IReconWcfService_SyncCompare_OutputMessage">
    <wsdl:part name="parameters" element="tns:SyncCompareResponse" />
  </wsdl:message>
  <wsdl:message name="IReconWcfService_SetReCONPolling_InputMessage">
    <wsdl:part name="parameters" element="tns:SetReCONPolling" />
  </wsdl:message>
  <wsdl:message name="IReconWcfService_SetReCONPolling_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetReCONPollingResponse" />
  </wsdl:message>
  <wsdl:message name="IReconWcfService_GetPollingData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPollingData" />
  </wsdl:message>
  <wsdl:message name="IReconWcfService_GetPollingData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPollingDataResponse" />
  </wsdl:message>
  <wsdl:message name="IReconWcfService_Write_R_Bit_InputMessage">
    <wsdl:part name="parameters" element="tns:Write_R_Bit" />
  </wsdl:message>
  <wsdl:message name="IReconWcfService_Write_R_Bit_OutputMessage">
    <wsdl:part name="parameters" element="tns:Write_R_BitResponse" />
  </wsdl:message>
  <wsdl:message name="IReconWcfService_Write_R_Value_InputMessage">
    <wsdl:part name="parameters" element="tns:Write_R_Value" />
  </wsdl:message>
  <wsdl:message name="IReconWcfService_Write_R_Value_OutputMessage">
    <wsdl:part name="parameters" element="tns:Write_R_ValueResponse" />
  </wsdl:message>
  <wsdl:portType name="IReconWcfService">
    <wsdl:operation name="ReconServiceStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IReconWcfService/ReconServiceStatus" message="tns:IReconWcfService_ReconServiceStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReconWcfService/ReconServiceStatusResponse" message="tns:IReconWcfService_ReconServiceStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DetectControllerIP">
      <wsdl:input wsaw:Action="http://tempuri.org/IReconWcfService/DetectControllerIP" message="tns:IReconWcfService_DetectControllerIP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReconWcfService/DetectControllerIPResponse" message="tns:IReconWcfService_DetectControllerIP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConnectToServer">
      <wsdl:input wsaw:Action="http://tempuri.org/IReconWcfService/ConnectToServer" message="tns:IReconWcfService_ConnectToServer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReconWcfService/ConnectToServerResponse" message="tns:IReconWcfService_ConnectToServer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CloseConnectToServer">
      <wsdl:input wsaw:Action="http://tempuri.org/IReconWcfService/CloseConnectToServer" message="tns:IReconWcfService_CloseConnectToServer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReconWcfService/CloseConnectToServerResponse" message="tns:IReconWcfService_CloseConnectToServer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SyncCompare">
      <wsdl:input wsaw:Action="http://tempuri.org/IReconWcfService/SyncCompare" message="tns:IReconWcfService_SyncCompare_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReconWcfService/SyncCompareResponse" message="tns:IReconWcfService_SyncCompare_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetReCONPolling">
      <wsdl:input wsaw:Action="http://tempuri.org/IReconWcfService/SetReCONPolling" message="tns:IReconWcfService_SetReCONPolling_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReconWcfService/SetReCONPollingResponse" message="tns:IReconWcfService_SetReCONPolling_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPollingData">
      <wsdl:input wsaw:Action="http://tempuri.org/IReconWcfService/GetPollingData" message="tns:IReconWcfService_GetPollingData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReconWcfService/GetPollingDataResponse" message="tns:IReconWcfService_GetPollingData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Write_R_Bit">
      <wsdl:input wsaw:Action="http://tempuri.org/IReconWcfService/Write_R_Bit" message="tns:IReconWcfService_Write_R_Bit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReconWcfService/Write_R_BitResponse" message="tns:IReconWcfService_Write_R_Bit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Write_R_Value">
      <wsdl:input wsaw:Action="http://tempuri.org/IReconWcfService/Write_R_Value" message="tns:IReconWcfService_Write_R_Value_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReconWcfService/Write_R_ValueResponse" message="tns:IReconWcfService_Write_R_Value_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetNamedPipeBinding_IReconWcfService" type="tns:IReconWcfService">
    <wsp:PolicyReference URI="#NetNamedPipeBinding_IReconWcfService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="ReconServiceStatus">
      <soap12:operation soapAction="http://tempuri.org/IReconWcfService/ReconServiceStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DetectControllerIP">
      <soap12:operation soapAction="http://tempuri.org/IReconWcfService/DetectControllerIP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConnectToServer">
      <soap12:operation soapAction="http://tempuri.org/IReconWcfService/ConnectToServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CloseConnectToServer">
      <soap12:operation soapAction="http://tempuri.org/IReconWcfService/CloseConnectToServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyncCompare">
      <soap12:operation soapAction="http://tempuri.org/IReconWcfService/SyncCompare" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetReCONPolling">
      <soap12:operation soapAction="http://tempuri.org/IReconWcfService/SetReCONPolling" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPollingData">
      <soap12:operation soapAction="http://tempuri.org/IReconWcfService/GetPollingData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Write_R_Bit">
      <soap12:operation soapAction="http://tempuri.org/IReconWcfService/Write_R_Bit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Write_R_Value">
      <soap12:operation soapAction="http://tempuri.org/IReconWcfService/Write_R_Value" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReconWcfService">
    <wsdl:port name="NetNamedPipeBinding_IReconWcfService" binding="tns:NetNamedPipeBinding_IReconWcfService">
      <soap12:address location="net.pipe://localhost/ReconWinService/ReconService2" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://localhost/ReconWinService/ReconService2</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Spn>host/USER-PC</Spn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>