3.LNC_CNC/三軸龍門機soap服務/ShareWebService/ReCONShare/ReCONShare/Service References/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ReconWcfServiceLibrary2" />
  <xs:element name="ReconServiceStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReconServiceStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReconServiceStatusResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetectControllerIP">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DetectControllerIPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DetectControllerIPResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectToServer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipaddr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectToServerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseConnectToServer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseConnectToServerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncCompare">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ReconWcfServiceLibrary2" minOccurs="0" name="SyncList" nillable="true" type="q2:ArrayOfClass_ReCONSync_Service" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncCompareResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SyncCompareResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetReCONPolling">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ReconWcfServiceLibrary2" minOccurs="0" name="SyncList" nillable="true" type="q3:ArrayOfClass_ReCONSync_Service" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetReCONPollingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPollingData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPollingDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ReconWcfServiceLibrary2" minOccurs="0" name="GetPollingDataResult" nillable="true" type="q4:ArrayOfClass_ReCONSync_Service" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Write_R_Bit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServerIndex" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="R_Value_address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ElecValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Trigger" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Write_R_BitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Write_R_BitResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Write_R_Value">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServerIndex" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="R_Value_address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Write_R_ValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Write_R_ValueResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>